<html>
    <body>
    <h1>Welcome, <%=@user.username%></h1>
    <h2>Favorite Characters</h2>
        <ol>
        <li><%=@user.fav_list_0%> </li>
        <li><%=@user.fav_list_1%> </li>
        <li><%=@user.fav_list_2%> </li>
        <li><%=@user.fav_list_3%> </li>
        <li><%=@user.fav_list_4%> </li>        
        </ol>    
        <form method="POST" action= "/user">
            <label for="favid">Please enter a rank:</label>
            <%name = ""%>
            <%name =@user.username%>
            <input type="text" id="favid" name= "<%=name%>" ><br>
            <label for="favid">Please enter a characters name, then hit submit:</label>
            <input type="text" id="favchar" name="favchar">      
        <input type="submit" value="Submit">    

        <h2>Hated Characters</h2>
        <ol>
        <li><%=@user.hate_list_0%> </li>
        <li><%=@user.hate_list_1%> </li>
        <li><%=@user.hate_list_2%> </li>
        <li><%=@user.hate_list_3%> </li>
        <li><%=@user.hate_list_4%> </li>        
        </ol>    
        <form method="POST" action= "/user">
            <label for="hateid">Please enter a rank:</label>
            <%name = ""%>
            <%name =@user.username%>
            <input type="text" id="hateid" name= "<%=name%>" ><br>
            <label for="hateid">Please enter a characters name, then hit submit:</label>
            <input type="text" id="hatechar" name="hatechar">      
        <input type="submit" value="Submit">    

    </body>
</html>